/*marvellous elei 8903172*/ 
body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    background-color: hsla(215, 25%, 36%, 0.581);
    width : 100vw;
    height : 100vh;
    
} 

h2{
    color : red;
    font-size: 2em;
} 
header{
    background-color: hsl(101, 23%, 45%);
}
main{
    float: left;
    width: 65vw;
    height: 60vh;
    background-color: hsl(101, 36%, 48%);
}

aside{
    float: right;
    width: 25vw;
    height: 60vh;
    background-color: hsl(101, 23%, 45%);
}


footer{
    clear: both;
    background-color: hsl(101, 23%, 45%);
}

.structural{

    margin: 10px;
    padding: 10px;
    border: 2px solid black;
} 
#para1{
    color: rgb(82, 55, 55);
}
#para2{
    color: rgb(170, 19, 19);
}

a:hover{
    color: #f02; 
}
footer p{
    font-size: .75em;
}